{% extends "base.html" %}
{% block title %}Forgotpassword{% endblock %}
{% block content %}

<section class="text-center pb-4 my-3 id=userInfo">
    <form action="#" method="post">
    <div class="container-fluid">

        <div class="row justify-content-center mb-4">
            <div>
                Create a new password <br>
                <p>Must be alphanumeric with at least 8 characters</p>
            </div>
            <div class="col-5 form-outline">
                <input type="password" class="form-control" name="pword" minLength="8" placeholder="password" required="true">
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary mb-2">Done</button>
        </div>
       
        <!--imbedded js to show spinner on a button click-->
        <div id="testing"></div>
        <script type="text/javascript">
            var item = document.getElementById("btn1");
            item.onclick=function(){
                document.getElementById("testing").innerHTML = "<div class=\"spinner-border\"></div>"
            }
        </script>
        
    </div>
</form>
    
</section>

{% endblock %}