{% extends "base.html" %}
{% block title %}SearchUser INFO{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, msg in messages %}
    <div class="my-0 alert alert-{{ category }} text-center alert-dismissible" roll="alert">
        {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}
{% endwith %}

<section class="text-center pb-4 my-3 id=userInfo">
<form action="#" method="post">
    <div class="container-fluid">
        <label class="mb-3"><strong>Search by user ID, zip code, name, or ....</strong></label>
        <div class="row justify-content-center mb-4">    
            <div class="row justify-content-center mb-2">
                <div class="col-5 form-outline">
                    <input type="text" class="form-control" name="voterid" required="true">
                </div>
            </div>                           
        </div>

        <div>
            <button type="submit" class="btn btn-primary mb-2">Done</button>
        </div>
        <!--imbedded js to show spinner on a button click-->

        <table class="table table-hover table-bordered table-striped">
            <thead><tr><th>Name</th><th>User ID</th><th>Email</th><th>Age</th><th>Address</th></tr></thead>
        {% for results in results %}
            <tr>
                <td>
                    {{ results.first_name }} {{ results.last_name }}
                </td>
                <td>
                    {{ results.id }}
                </td>
                <td>
                    {{ results.email }}
                </td>
                <td>
                    {{ results.age }}
                </td>
                <td>
                    {{ results.address }}
                </td>
            </tr>
        
        {% endfor %}

        </table>
    </div>
</form>
    
</section>

{% endblock %}