{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, msg in messages %}
            <div class="alert alert-{{ category }} text-center alert-dismissible" roll="alert">
                {{msg}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<p>Welcome, {{user}}</p>
<div class="container">
    <div class="row justify-content-end">
        <div class="col-3 align-self-end">
            <a href="/address-change.html" class="btn btn-light">Edit Profile</a>
        </div>
    </div>
</div>
{% endblock %}